html,body{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}
main{
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black; 
    padding: 10%;
    color: red;
}
div{
    color: red;
    text-align: center;
    font-size: larger;
}
